# Created by venv; see https://docs.python.org/3/library/venv.html
# Python virtual environment
venv/

# Environment variables
.env

# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# VSCode settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db


